# DATA STRUCTURES

## LIST, SET, TUPLE, DICTIONARY

### LIST

A list is collection of elements which are ordered and indexed

We use squared brackets[] for list

it is mutable

In [1]:
list_1=[1,2,3,4,5,"desika","ball",3.14, False]
print(list_1)

[1, 2, 3, 4, 5, 'desika', 'ball', 3.14, False]

indexing the elements in a list(In python the indexing start from 0)

If we want to extract the element "desika", the following code can be used

In [2]:
#0   1   2    3   4   5        6     7      8   (left indexing) 

#1   2   3    4   5  desika  ball  3.14  False

print(list_1[1]) #left indexing
print(list_1[4])

2
5

In [3]:
#1   2   3    4   5  desika  ball   3.14   False   
#-9 -8  -7   -6   -5   -4     -3     -2     -1   # right indexing
print(list_1[-1]) 
print(list_1[-4])

False
desika

**EXTRACTING A RANGE OF ELEMENTS**

syntax

name_of_the_list[starting position:ending position]

Here, the element in the ending position is not included

In [4]:
list_1[5:8]

['desika', 'ball', 3.14]

To know all the functions or attributes that can be performed using the given objects, we use directory i.e., dir()

In [5]:
dir(list_1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Now let us perform some  of the attribute mentioned above for list.

**APPEND**

*'append()'* is used to add elements into the existing list

It add the elements in tha last position.

In [6]:
list_1.append("sandhya")

In [7]:
list_1 # The element sandhya added to the list_1 and it is assigned in the last position.

[1, 2, 3, 4, 5, 'desika', 'ball', 3.14, False, 'sandhya']

But if we want to add an element win a specified position, we use insert()

**INSERT**

*'insert()'* is used to add elements into the existing list

It add the elements in a **specified positions** where we want.

*syntax*

insert(p,e)

p= position of the element

e= element to be added

In [8]:
list_1.insert(3,"HAPPY") #inserting the element "HAPPY" in 3rd position

In [9]:
list_1

[1, 2, 3, 'HAPPY', 4, 5, 'desika', 'ball', 3.14, False, 'sandhya']

**EXTEND**

*'extend()'* is used to add the elements of the list at the end of the current list

In [10]:
list_2=['apple','banana']
list_2

['apple', 'banana']

In [11]:
list_1.extend(list_2) #To add the list_2 to the current list as iterables i.e., unpacking the list_2 and adding the elements of list_ with list_1

In [12]:
list_1

[1,
 2,
 3,
 'HAPPY',
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'sandhya',
 'apple',
 'banana']

**Difference between append and extend**

append is used to add the elements to the list. so, if we give a list to be added, it take it as a single element
whereas extend add the each of the elements of the list as separate elements.

In [13]:
list_1

[1,
 2,
 3,
 'HAPPY',
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'sandhya',
 'apple',
 'banana']

In [14]:
list_1.append(["A","B"])
print(list_1)

[1, 2, 3, 'HAPPY', 4, 5, 'desika', 'ball', 3.14, False, 'sandhya', 'apple', 'banana', ['A', 'B']]

In [15]:
list_1[-1]

['A', 'B']

In [16]:
list_1.extend([True,False])
print(list_1)

[1, 2, 3, 'HAPPY', 4, 5, 'desika', 'ball', 3.14, False, 'sandhya', 'apple', 'banana', ['A', 'B'], True, False]

In [17]:
list_1[-1]

False

#### Removing of elements

**REMOVE**

It is used to remove the specified elements form the list.

In [18]:
list_1

[1,
 2,
 3,
 'HAPPY',
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'sandhya',
 'apple',
 'banana',
 ['A', 'B'],
 True,
 False]

In [19]:
list_1.remove("banana") #to remove the element 'banana'
list_1

[1,
 2,
 3,
 'HAPPY',
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'sandhya',
 'apple',
 ['A', 'B'],
 True,
 False]

**pop**

pop() is used to remove elements using the specified position.

In [20]:
list_1

[1,
 2,
 3,
 'HAPPY',
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'sandhya',
 'apple',
 ['A', 'B'],
 True,
 False]

In [21]:
list_1.pop(3) #removing the element in third poistion

'HAPPY'

In [22]:
list_1

[1,
 2,
 3,
 4,
 5,
 'desika',
 'ball',
 3.14,
 False,
 'sandhya',
 'apple',
 ['A', 'B'],
 True,
 False]

In [23]:
dir(list_1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**SORT**

*sort()* is used to sort the order of the elements in a specified manner

syntax
sort(key,reverse)


key is a function which specifies the method of sorting or sorting manner

reverse=True gives descending order

reverse=False gives the ascending order. By default reverse=True

In [24]:
list3=[10,9,11,1,5,0]

list3

[10, 9, 11, 1, 5, 0]

In [25]:
list3.sort()

In [26]:
print("Ascending order of the list3 is ",  list3)

Ascending order of the list3 is  [0, 1, 5, 9, 10, 11]

In [27]:
list4=[1,2,3,4,5,6]
list4.sort(reverse=True)

In [28]:
print("descending order of the list3 is ",  list4)

descending order of the list3 is  [6, 5, 4, 3, 2, 1]

In [29]:
list5=["a","r","b"]  #we can also sort strings in alphabetical order
list5.sort()

In [30]:
list5

['a', 'b', 'r']

##### sorting using functions

In [31]:
#To sort theelements using their length
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

**REVERSE**

reverse() is used to reverse the order of the list

In [32]:
list6=['desika',2,6]
list6.reverse()

In [33]:
list6

[6, 2, 'desika']

**COPY**

*copy()* is used to copy the list

It returns the shallow copy of the list

In [34]:
list7=['a','b','c']
s=list7.copy()   #to copy the list7 to the variable s

In [35]:
s

['a', 'b', 'c']

**COUNT**
  
*count()* returns the no. of occurence of the specified element

In [36]:
list8=[1,1,2,2,3,3,3,6,6,6,3,3,4,4,4,4,4,5,5,6,6,6,6,6,6,6,6,6,6,6,6,]
list8.count(6)  #count the no. of occurence of the element 6

15

**INDEX**

*index()* returns the first index of the element

In [37]:
list9=['a','c','f','d','e']

list9.index('f')

2

### SET

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

they are used to extract the unique values.

In [38]:
set1={1,2,3,4,1,1,3,4,6,2,7,8}
set1

{1, 2, 3, 4, 6, 7, 8}

In [39]:
dir(set1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**ADD**

*add()* is uded to add the elements to a set

In [40]:
set1.add(5)

In [41]:
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

**CLEAR**
(same as in list)
it is used to remove all the elements from the set

In [42]:
set1.clear()

In [43]:
set1  #empty set

set()

**COPY**

(same as in list)

It is used to copy the set

In [44]:
set2={'a','b','c',1,5,6,7,9}
set2

{1, 5, 6, 7, 9, 'a', 'b', 'c'}

In [45]:
copy_set2=set2.copy() #set2  is copied to copy_set2

In [46]:
copy_set2

{1, 5, 6, 7, 9, 'a', 'b', 'c'}

**DIFFERENCE**

It gives the difference between the two or more sets

In [47]:
set1={1,3,5,7,9,0}
set2={1,3,7,9,11,13}

In [48]:
set1.difference(set2)  #Return a set that contains the items that only exist in set1, and not in set2

{0, 5}

In [49]:
set2.difference(set1)  #Return a set that contains the items that only exist in set2, and not in set1

{11, 13}

**DIFFERENCE_UPDATE**

The difference_update() method removes the items that exist in both sets.

In [50]:
set3={2,4,6,8,0}
set4={4,8,10,12}

set3.difference_update(set4)

In [51]:
set3

{0, 2, 6}

In [52]:
set3={2,4,6,8,0}
set4={4,8,10,12}
set4.difference_update(set3)

In [53]:
set4

{10, 12}

The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

**DISCARD**

The discard() method removes the specified item from the set.

This method is different from the remove() method, 
because the remove() method will raise an error if the specified item does not exist, 
and the discard() method will not.

In [54]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")  #to remove banana in the set

print(fruits)

{'apple', 'cherry'}

**REMOVE**

*remove()* is used to remove the specified element from the set.

In [55]:
set5={'a','b','c'}
set5.remove('c')

In [56]:
set5

{'a', 'b'}

**Difference between remove() and discard()**

This method is different from the remove() method, 

because the remove() method will raise an error if the specified item does not exist, 

and the discard() method will not.

In [57]:
set_a={'DESIKA','Shivani'}

In [58]:
set_a.discard('Sam')

In [59]:
set_a.remove('Sam')

KeyError: 'Sam'

**INTERSECTION**

The *intersection()* method returns a set that contains the similarity between two or more sets.

The sets to e compared should contain equal no. of elements in it.

syntax

set.intersection(set1, set2 ... etc)

In [61]:
set1={3,4,5,6}
set2={5,6,7,8}
set2.intersection(set1) #given common element in both set1 and set2

{5, 6}

In [62]:
set1={3,4,5,6}
set2={5,6,7,8}
set3={6,7,8,9}

set1.intersection(set2,set3)  #gives common element in all the three sets

{6}

**intersection_update**

The *intersection_update()* method removes the items  that is not present in both sets (or in all sets if the comparison is done between more than two sets).

In [63]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

**DIFFERENCE BETWEEN INTERSECTION AND INTERSECTION_UPDATE**

The *intersection_update()* method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items, and the intersection_update() method removes the unwanted items from the original set.

**ISDISJOINT**

The *isdisjoint()* method returns True if none of the items are present common in both sets, otherwise it returns False.

In [64]:
set1={3,4,5,6}
set2={5,6,7,8}
set1.isdisjoint(set2)

False

In [65]:
set1={3,4,5,6}
set2={7,8,9}
set1.isdisjoint(set2)

True

**ISSUBSET**

The *issubset()* method returns True if all items in the set exists in the specified set, otherwise it retuns False

In [66]:
set1={3,4,5,6}
set2={5,6,7,8} #checks whether the set2 contains all the elements in set1
set1.issubset(set2)

False

In [67]:
set1={5,6}
set2={5,6,7,8}#checks whether the set1 contains all the elements in set2
set1.issubset(set2)

True

**issuperset()**

The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.

In [68]:
set1={3,4,5,6}
set2={5,6,7,8} #checks whether the set1 contains all the elements in set2
set1.issuperset(set2)

False

In [69]:
set1={5,6,7,8,9}
set2={5,6,7,8}#checks whether the set1 contains all the elements in set2
set1.issuperset(set2)

True

**pop**

The *pop()* method removes a random item from the set.

This method returns the removed item.

In [70]:
set1.pop()

5

**symmetric_difference()**

The *symmetric_difference()*
method returns a set that contains all items from both set, 
but not the items that are present in both sets.

In [71]:
set1={5,6,7,8,9}
set2={5,6,7,8,10}
set1.symmetric_difference(set2) #it removes the common element in both the sets and give the remaining elements in both the sets

{9, 10}

**symmetric_difference_update**

The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

In [72]:
set1={5,6,7,8,9}
set2={5,6,7,8,10}
set1.symmetric_difference_update(set2)

In [73]:
set1

{9, 10}

**UNION**

The *union()* method returns a set that contains all items from the original set, and all items from the specified set(s).

We can specify as many sets you want, separated by commas.

It does not have to be a set, it can be any iterable object.

If an item is present in more than one set, the result will contain only one appearance of this item.

In [74]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'b', 'e', 'a', 'c', 'd', 'f'}

**UPDATE**

The *update()* method updates the current set, by adding items from another set (or any other iterable).

If an item is present in both sets, only one appearance of this item will be present in the updated set.

In [75]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'google', 'banana', 'apple', 'cherry', 'microsoft'}

### TUPLES

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [76]:
t=(2,2,3,4,'a','b')
t

(2, 2, 3, 4, 'a', 'b')

In [77]:
t[4] #5th element in t

'a'

In [78]:
t[1:5] #from second element to 5th element

(2, 3, 4, 'a')

In [79]:
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**COUNT**

The *count()* method returns the number of times a specified value appears in the tuple.

In [80]:
t.count(2)

2

In [81]:
t.count(3)

1

**INDEX**

The *index()* method finds the first occurrence of the specified value.

The *index()* method raises an exception if the value is not found.

In [82]:
t.index(4) #to find the position of the element 4

3

### DICTIONARIES

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:
    
Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [83]:
dt={"key":"value", "name":"desika", "ug":"maths", "pg":"stats"}
dt

{'key': 'value', 'name': 'desika', 'ug': 'maths', 'pg': 'stats'}

In [84]:
dt['key']

'value'

In [85]:
dt["pg"]

'stats'

In [86]:
dir(dt)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**CLEAR**

The clear() method removes all the elements from a dictionary.

In [87]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

**COPY**

The copy() method returns a copy of the specified dictionary.

In [88]:
dt={"key":"value", "name":"desika", "ug":"maths", "pg":"stats"}
dt

dct=dt.copy()
dct

{'key': 'value', 'name': 'desika', 'ug': 'maths', 'pg': 'stats'}

**FROMKEYS**

The fromkeys() method returns a dictionary with the specified keys and the specified value.

In [89]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

**GET**

The get() method returns the value of the item with the specified key.

In [90]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

**ITEMS**

The items() method returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list.

In [91]:
dt

{'key': 'value', 'name': 'desika', 'ug': 'maths', 'pg': 'stats'}

In [92]:
dt.items()

dict_items([('key', 'value'), ('name', 'desika'), ('ug', 'maths'), ('pg', 'stats')])

**KEYS**

The keys() method returns a view object. The view object contains the keys of the dictionary, as a list.

The view object will reflect any changes done to the dictionary, see example below.

In [93]:
dt.keys()

dict_keys(['key', 'name', 'ug', 'pg'])

**POP**

The pop() method removes the specified item from the dictionary.

In [94]:
dt.pop("name")

'desika'

In [95]:
dt

{'key': 'value', 'ug': 'maths', 'pg': 'stats'}

**POPITEM**

The popitem() method removes the item that was last inserted into the dictionary.

In [96]:
dt.popitem()

('pg', 'stats')

In [97]:
dt

{'key': 'value', 'ug': 'maths'}

**SETDEFAULT**


The setdefault() method returns the value of the item with the specified key.

In [98]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [99]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [100]:
x

'Mustang'

If the key does not exist, insert the key, with the specified value, see example below

In [101]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)

white

**UPDATE**

The update() method inserts the specified items to the dictionary.

The specified items can be a dictionary, or an iterable object with key value pairs.

In [102]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.update({"color": "White"})

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

**VALUE**

The values() method returns a view object. The view object contains the values of the dictionary, as a list.

In [103]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [104]:
The view object will reflect any changes done to the dictionary, see example below.

SyntaxError: invalid syntax (2183468721.py, line 1)

In [105]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.values()

car["year"] = 2018

print(x)

dict_values(['Ford', 'Mustang', 2018])

# *THANK YOU!*