In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "SD@0909desi")

In [3]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")

In [4]:
for i in mycursor:
    print(i)

('desika_2211587',)
('dvdrental',)
('flight_management_system',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)
('trialone',)
('world',)

In [5]:
mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "SD@0909desi",
database="testdb")

In [7]:

#creating table
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE actorinfo (name VARCHAR(255),age INT(3), address VARCHAR(500))")

In [8]:
for i in mycursor:
    print(i)

In [9]:
mycursor.execute("SHOW TABLES")
for i in mycursor:
    print(i)

('actorinfo',)
('employeeinfo',)

In [22]:
mycursor.execute("CREATE TABLE student_profile (id int(3),name varchar(255), age int(3))")

In [23]:
for i in mycursor:
    print(i)

In [24]:
mycursor.execute("SHOW TABLES")
for i in mycursor:
    print(i)

('actorinfo',)
('employeeinfo',)
('student',)
('student_profile',)
('studentinfo',)

In [25]:
mycursor.execute("insert into student_profile values(1,'Sorit',80),(2,'Kumar',89),(3,'Susmita',90)")

In [27]:
#reading the table
mycursor.execute("select*from student_profile")

In [28]:
for i in mycursor:
    print(i)

(1, 'Sorit', 80)
(2, 'Kumar', 89)
(3, 'Susmita', 90)

In [29]:
#updating the table
mycursor.execute("UPDATE student_profile SET name='desika' WHERE id=1")

In [30]:
mycursor.execute("select*from student_profile")

In [31]:
for i in mycursor:
    print(i)

(1, 'desika', 80)
(2, 'Kumar', 89)
(3, 'Susmita', 90)

In [32]:
#deleting table
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE student_profile")

In [33]:
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")

In [34]:
for i in mycursor:
    print(i)

('actorinfo',)
('employeeinfo',)
('student',)
('studentinfo',)

In [35]:
pwd

'C:\\Users\\2211587'